* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #05600d;
    font-family: Helvetica, Arial, sans-serif;
}

/*HEADER STYLING*/

header {
    padding: 20px 35px;
    background-color: #05600d;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #87e48f;
    margin: 0;
    display: inline;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

header a {
    text-decoration: none;
    color: #87e48f
}