* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #65C6CE;
    font-family: Helvetica, Arial, sans-serif;
}

/*HEADER STYLING*/

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-position: 80%;
    background-image: url("./images/beachy.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    margin: 0;
    display: inline;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: #fff;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: #CCDC27;
    color: #05600d;
    border-radius: 15px;
    text-shadow: none;
}

/* Hero Styling */
.hero {
    background-image: url("./images/beachy.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

.hero-cta {
    width: 100%;
    text-align: center;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    float: left;
}

.hero-cta p {
    font-style: bold;
    font-size: 45px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*About Me*/

.about-me {
    width: 100%;
    text-align: left;
    background: #65C6CE;
    display: flex;
    margin: 10px;
    padding: 10px;
}



.my-bio {
    display: flex;
    padding: 10px;
    margin: 10px;;
}

.bio-img img {
    width: 50%;
    min-height: 200px;
    border-radius: 15px;
    padding: 0;
    border-style: solid;
    border-color: #CCDC27;
    margin: 10px;
}

.my-bio p {
    color: #fff;
    text-align: center;
    margin: auto;
    border: solid;
    border-color: #CCDC27;
    border-radius: 15px;
    font-size: 35px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}


/*PROJECTS SECTION STYLING*/

.section-title {
    font-style: bold;
    font-size: 35px;
    color: #fff;
    text-align: center;
    padding: 0 20px 0 0;
    width: 150px;
    display: block;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title-container{
    display: block;
    float: left;
    margin: 5px;
}
.primary-border {
    border-color: #CCDC27;
    border-right: 3px solid;
    text-align: right;
}

.section-title, .primary-border h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.projects-grid {
    display: grid;
    padding: 20px;
    
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    margin: 0 0 0 3%;
}

.project {
   display: flex;
   border: solid;
   border-color: #CCDC27;
   justify-content: center;
   align-items: center;
}

.project:first-child {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
    width: 100%;
    height: 100%;
}

.project-1 {
    background-image: url("./images/run-buddy.jpg");
    height: 100%;    
}

.project-2 {
    background-image: url("./images/horeison.PNG");
}

.project-3 {
    background-image: url("./images/plant-guide.PNG");
}

.project-4 {
    background-image: url("./images/whatscat.JPG");
}

.project-5 {
    background-image: url("./images/purple.jpg");
}


.project-img {
    width: 100%;
    min-height: 300px;
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
}

.project-img::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(101, 198, 206, 0.4), rgba(204, 220, 39, 1));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1;
}

.project-img:hover::after {
    opacity: 1;
}

.project-img h3 {
    position: relative;
    z-index: 9996;
    font-size: 28px;
    margin-bottom: 5px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-description {
    padding: 25px;
    line-height: 1.3;
}

.project-description p {
    font-size: 25px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/*Contact Info Section*/
#contact-me {
    padding: 60px;
    display: inline-flex;
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    float: right;
    position: relative;
    left: 200px;
    top: 50px;
}

.contact ul li a {
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}
/* FOOTER STYLING */

footer {
    background-image: url("./images/beachy.jpg");
    width: 100%; 
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
}

footer h2 {
    color: #fff;
    font-size: 20px;
    margin: 0;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto;
}

/*MEDIA QUERY FOR SMALLER SCREENS */
@media screen and (max-width: 980px) {
    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}